{% extends "components/base.html" %}

{% block title %}Генерація синонімів{% endblock %}

{% block header %}Генерація синонімів{% endblock %}

{% block content %}

        <p align="center"> <a href="/"><img src="/static/back.png" width="3%"><br>Назад</a></p>

<section>
            <form method="post" action="/generate_synonyms">
    <label for="standard_name">Виберіть стандартне ім'я:</label>
    <select id="standard_name" name="standard_name">
        {% for name in unified_names %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="request_count">Кількість запитів:</label>
    <input type="number" id="request_count" name="request_count" min="1" value="1">
                <button type="submit">Генерувати синоніми</button>
</form>


<div class="synonym-container">
        {% if message %}
            <p align="center">{{ message }}</p>
        {% endif %}
</div>
       </section>
{% endblock %}

