{% extends "components/base.html" %}

{% block title %}Імпорт / Експорт СинонімівГоловна сторінка{% endblock %}

{% block header %}Імпорт / Експорт Синонімів{% endblock %}

{% block content %}
        <p align="center"><a href="/"><img src="/static/back.png" width="3%"><br>Назад</a></p>

<section>
            <h2>Імпорт синонімів</h2>
            <form action="/import" method="post" enctype="multipart/form-data">
                <label for="file">Виберіть JSON файл для імпорту:</label><br>
                <input type="file" name="file" required><br>

                <label for="standard_name">Виберіть уніфіковане ім'я (необов'язково):</label><br>
                <select name="standard_name">
                    <option value="">Всі уніфіковані назви</option>
                    {% for name in standard_names %}
                    <option value="{{ name.name }}">{{ name.name }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit">Імпортувати</button>
            </form>
        </section>

        <section>
            <h2>Експорт синонімів</h2>
            <form action="/export" method="get">
                <label for="standard_name">Виберіть уніфіковане ім'я (необов'язково):</label><br>
                <select name="standard_name">
                    <option value="">Всі уніфіковані назви</option>
                    {% for name in standard_names %}
                    <option value="{{ name.name }}">{{ name.name }}</option>
                    {% endfor %}
                </select><br>
                <button type="submit">Експортувати синоніми в JSON</button>
            </form>
        </section>

        {% if message %}
            <div style="color: green;">{{ message }}</div>
        {% endif %}
{% endblock %}
