{% extends "components/base.html" %}

{% block title %}Головна сторінка{% endblock %}

{% block header %}Типу ОРМ{% endblock %}

{% block content %}
<section>
            <h2>Уніфікатор назв аналізів</h2>
            <div class="button-container">
                <a href="/test_unificator/" class="btn">Тестування уніфікатора</a>
                <a href="/unification_names/" class="btn">Уніфіковані назви</a>
                <a href="/import_export/" class="btn">Імпорт-експорт даних</a>
                <a href="/generator/" class="btn">Генерування нових синонімів через ЛЛМ</a>
            </div>
        </section>

        <section>
            <h2>UNITS</h2>
            <div class="button-container">
                <a href="/units/" class="btn">Юніти</a>
                <a href="/conversions/" class="btn">Конверсіі</a>
                <a href="/calculator/" class="btn">Калькулятор</a>

            </div>
        </section>
{% endblock %}
