<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORM</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Типу ОРМ</h1>
    </header>
    <main>
        <section>
            <h2>Уніфікатор назв аналізів</h2>
            <div class="button-container">
                <a href="/test_unificator/" class="btn">Тестування уніфікатора</a>
                <a href="/unification_names/" class="btn">Уніфіковані назви</a>
                <a href="/import_export/" class="btn">Імпорт-експорт даних</a>
                <a href="/generator/" class="btn">Генерування нових синонімів через ЛЛМ</a>
            </div>
        </section>

        <section>
            <h2>UNITS</h2>
            <div class="button-container">
                <a href="/units/" class="btn">Юніти</a>
                <a href="/conversions/" class="btn">Конверсіі</a>
            </div>
        </section>
    </main>
</body>
</html>
