{% extends "components/base.html" %}

{% block title %}Синоніми для уніфікованого імені: {{ standard_name.name }}{% endblock %}

{% block header %}Синоніми для уніфікованого імені: {{ standard_name.name }}{% endblock %}

{% block content %}
    <header>
        <p align="center"><a href="/unification_names"><img src="/static/back.png" width="3%"><br>Назад</a></p>
    </header>

        <section>
            <h2>Додати новий синонім</h2>
            <form action="/add_synonym/{{ standard_name.id }}" method="post">
                <input type="text" name="synonym" placeholder="Синонім" required>
                <button type="submit">Додати синонім</button>
            </form>

    <h2>Переіменувати уніфіковане ім'я</h2>
    <form action="/rename_standard_name/{{ standard_name.id }}" method="post">

        <input type="text" name="new_standard_name" value="{{ standard_name.name }}" placeholder="Нове уніфіковане ім'я" required>
        <button type="submit">Переіменувати</button>
    </form>
</section>


        <section>
            <h2>Синоніми</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Уніфіковане ім'я</th>
                        <th>Синонім</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for synonym in synonyms %}
                    <tr>
                        <td>{{ synonym.id }}</td>
                        <td>{{ synonym.standard_name.name }}</td>
                        <td>{{ synonym.synonym }}</td>
                        <td>
                            <form action="/delete/{{ synonym.id }}" method="post" class="form-delete" style="display: inline;">
                                <button type="submit" class="btn-delete">Видалити</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock %}
