<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Синоніми для {{ standard_name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Синоніми для уніфікованого імені: {{ standard_name }}</h1>
        <p align="center"><a href="/unification_names"><img src="/static/back.png" width="3%"><br>Назад</a></p>

    </header>

    <main>
        <section>
            <h2>Додати новий синонім</h2>
            <form action="/add_synonym/{{ standard_name }}" method="post">
                <input type="text" name="synonym" placeholder="Синонім" required>
                <button type="submit">Додати синонім</button>
            </form>
        </section>

        <section>
            <h2>Синоніми</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Уніфіковане ім'я</th>
                        <th>Синонім</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for synonym in synonyms %}
                    <tr>
                        <td>{{ synonym.id }}</td>
                        <td>{{ synonym.standard_name.name }}</td>
                        <td>{{ synonym.synonym }}</td>
                        <td>
                            <form action="/delete/{{ synonym.id }}" method="post" class="form-delete" style="display: inline;">
                                <button type="submit" class="btn-delete">Видалити</button>
                            </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
