<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Unificator</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Уніфікація аналізів</h1>
    <p align="center"><a href="/"><img src="/static/back.png" width="3%"><br>Назад</a></p>


    <form action="/test_unificator/" method="post">
        <label for="synonym">Введіть синонім або назву:</label>
        <input type="text" id="synonym" name="synonym" required>
        <label for="threshold">Поріг схожості (0-100):</label>
        <input type="number" id="threshold" name="threshold" value="80" min="0" max="100" required>
        <button type="submit">Перевірити</button>
    </form>
    {% if result %}
    <h2>Результат:</h2>
    <p align="center">{{ result }}</p>
    {% endif %}
</body>
</html>
