<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стандартні імена</title>
        <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1>Оберіть назву для просмотра юнітів</h1>
        <p align="center">
        <a href="/"><img src="/static/back.png" width="3%"><br>Назад</a>
    </p>
    <div class="synonyms-container">
        {% for standard_name in standard_names %}

                <a href="/units/{{ standard_name.id }}" class="synonyms-btn">{{ standard_name.name }}</a>

        {% else %}
            Немає стандартних імен для відображення.
        {% endfor %}

    </div>
</body>
</html>
