<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Koaly Project{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>{% block header %}Koaly Project{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <br>
    <footer>
        <p align="center">© 2025 Koaly Project</p>
    </footer>
</body>
</html>
